Pocs_Tested/Webservice_SOAP/TestSOAP/src/TestService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="Test2"
	targetNamespace="http://localhost:8080/TestSOAP/service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://localhost:8080/TestSOAP/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://localhost:8080/TestSOAP/service">
			<xsd:element name="AddOpRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MultiplyOpRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="part" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="MultiplyOpResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="multiplyOut" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="AddOpRequest">
		<wsdl:part name="in1" type="xsd:double"></wsdl:part>
		<wsdl:part name="in2" type="xsd:double"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddOpResponse">
		<wsdl:part name="out" type="xsd:double"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MultiplyOpRequest">
		<wsdl:part name="part1" type="xsd:double"></wsdl:part>
		<wsdl:part name="part2" type="xsd:double"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MultiplyOpResponse">
		<wsdl:part name="multiplyOut" type="xsd:double"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TestPortType">
		<wsdl:operation name="AddOp">
			<wsdl:input message="tns:AddOpRequest"></wsdl:input>
			<wsdl:output message="tns:AddOpResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MultiplyOp">
			<wsdl:input message="tns:MultiplyOpRequest"></wsdl:input>
			<wsdl:output message="tns:MultiplyOpResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TestSOAPBinding" type="tns:TestPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AddOp">
			<soap:operation soapAction="http://localhost:8080/AddOper" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MultiplyOp">
			<soap:operation soapAction="http://localhost:8080/MultiplyOper" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TestService">
		<wsdl:port binding="tns:TestSOAPBinding" name="TestPort">
			<soap:address location="http://localhost:8080/TestSOAP" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
